@font-face {
  font-family: "Rosatom";
  font-style: normal;
  font-weight: 300;
  src: local("Rosatom"),
  url("/font/RST45.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  padding-top: 35px;
}

.calculator {
  width: 333px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid #74b1be;
}

.calcTitle {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-align: center;
  padding-bottom: 20px;
}

.padding {
  font-size: 14px;
  letter-spacing: 0.04em;
  padding-top: 20px;
  padding-bottom: 10px;
}

.box {
  display: flex;
  padding: 5px 0;
}

.description {
  padding-right: 5px;
  width: 14vh;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-align: right;
}

.unit {
  padding-left: 5px;
}

.specialist {
  padding-top: 20px;
  font-size: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  outline: 0 !important;
  -moz-appearance: textfield;
}

input::placeholder {
  text-align: center;
}
